/bin/
/.bundle/
/cpp/build/
/cpp/config.json
/cpp/gluon
/gems/
/golang/bin/
/golang/cmd
/golang/gluon
/golang/pkg/
/golang/src/github.com/
/golang/src/gopkg.in/
/mruby
node_modules/
package-lock.json
settings.json
